extends layout

block content
    h1 New Book

    include errors
    
    form(action="/books/new", method="post")
        include form_details
        input(type="submit", value='Create New Book') 
        p
            a.button(href='/') Cancel