form(action="/search", method='post')
    label(for="title") Search by Title/Author/Genre/Year:
    input(type="text", name="searchValue", value=searchValue)
    input(type="submit" value='Search', style='margin-left: 10px')
    a.button(href='/', style='margin-left: 10px') Reset
        