form(action="/search", method='post')
    label(for="search") Search by Title/Author/Genre/Year:
    input(type="text", id='search', name="searchValue", value=searchValue)
    input(type="submit" value='Search', style='margin-left: 10px')
    a.button(href='/books', style='margin-left: 10px') Reset
        