.hidden {
    display: none;
}

.active {
    background-color: rgb(4, 53, 4);
}

a.button.active {
    background-color: rgb(3, 68, 11);
}

.pagination-buttons {
    margin-top: 25px;
    padding-right: 5px;
}

.errors {
    color: red;
}